In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress
from pprint import pprint

##
## Working with Decade Demographics File
##

In [ ]:

data_file = os.path.join("resources", "Decade Demographics.csv")
demog_df = pd.read_csv(data_file, thousands=',')
demog_df.head(50)

In [3]:
#Format data frame, "or later" = 2020
demog_df = demog_df.dropna()
demog_df = demog_df.rename(columns = {"United States!!Total!!Estimate": "United States Total",
                                    "United States!!Foreign born; Entered 2010 or later!!Estimate": "2010 or later",
                                   "United States!!Foreign born; Entered 2000 to 2009!!Estimate": "2000 to 2009",
                                   "United States!!Foreign born; Entered before 2000!!Estimate": "Before 2000"})
demog_df = demog_df.reset_index(drop = True)

In [4]:
#Dropping the total column from each DataFrame Created
demog_df = demog_df.drop(["United States Total"], axis=1)

In [5]:
demog_df.head(50)

,Label (Grouping),2010 or later,2000 to 2009,Before 2000
0,Foreign-born population,"11,142,149","11,035,400","22,755,352"
1,Naturalized citizen,13.7%,47.6%,72.1%
2,Not a citizen,86.3%,52.4%,27.9%
3,Foreign-born population excluding popu...,"11,142,149","11,035,400","22,755,250"
4,Europe,8.0%,7.8%,12.8%
5,Asia,38.8%,29.3%,28.8%
6,Africa,9.1%,6.7%,3.2%
7,Oceania,0.9%,0.7%,0.5%
8,Latin America,41.5%,54.3%,52.6%
9,Northern America,1.7%,1.2%,2.1%
10,Male,49.1%,47.9%,47.9%
11,Female,50.9%,52.1%,52.1%
12,Under 5 years,2.7%,(X),(X)
13,5 to 17 years,15.4%,4.8%,0.0%
14,18 to 24 years,13.4%,9.7%,1.2%
15,25 to 44 years,48.5%,52.9%,22.7%
16,45 to 54 years,9.8%,18.3%,24.9%
17,55 to 64 years,5.3%,8.5%,23.3%
18,65 to 74 years,3.2%,3.7%,15.8%
19,75 to 84 years,1.3%,1.7%,8.5%
20,85 years and over,0.3%,0.5%,3.5%
21,Median age (years),31.3,39.1,55.4
22,One race,97.1%,97.9%,97.8%
23,White,39.3%,44.0%,48.8%
24,Black or African American,12.1%,10.5%,8.0%
25,American Indian and Alaska Native,0.3%,0.4%,0.4%
26,Asian,32.5%,25.8%,25.3%
27,Native Hawaiian and Other Pacific ...,0.5%,0.4%,0.3%
28,Some other race,12.3%,16.7%,14.9%
29,Two or more races,2.9%,2.1%,2.2%
30,Hispanic or Latino origin (of any race),35.8%,48.5%,46.2%
31,"White alone, not Hispanic or Latino",16.9%,13.9%,19.3%
32,In married-couple family,61.7%,64.4%,63.6%
33,In other households,36.0%,34.3%,35.3%
34,Average household size,3.05,3.60,3.15
35,Average family size,3.56,3.95,3.67
36,Population 15 years and over,"9,530,921","10,818,326","22,755,352"
37,Never married,36.6%,29.9%,14.7%
38,"Now married, except separated",54.9%,58.0%,63.3%
39,Divorced or separated,6.0%,9.6%,14.1%
40,Widowed,2.5%,2.5%,7.9%
41,Population 3 years and over enrolled in sc...,"3,201,220","1,544,527","765,238"
42,"Nursery school, preschool",3.1%,0.0%,0.0%
43,Elementary school (grades K-8),36.9%,11.0%,1.0%
44,High school (grades 9-12),17.8%,28.8%,7.2%
45,College or graduate school,42.2%,60.2%,91.8%
46,Population 25 years and over,"7,630,018","9,442,686","22,481,188"
47,Less than high school graduate,19.3%,27.5%,28.2%
48,High school graduate (includes equival...,20.0%,23.0%,22.8%
49,Some college or associate's degree,15.3%,17.3%,20.4%

In [6]:
#Get total population numbers
total_pop = demog_df.iloc[:1]

#Format data frame
total_pop = total_pop.set_index("Label (Grouping)")
total_pop = total_pop.apply(lambda x: x.str.replace(",", "").astype(int))


#Get total population numbers for education
total_edu_pop = demog_df.loc[[41,46],:]

#Format data frame
total_edu_pop = total_edu_pop.set_index("Label (Grouping)")
total_edu_pop = total_edu_pop.apply(lambda x: x.str.replace(",", "").astype(int))


#Get total marital status number
total_marital_pop = demog_df.loc[[36],:]

#Format data frame
total_marital_pop = total_marital_pop.set_index("Label (Grouping)")
total_marital_pop = total_marital_pop.apply(lambda x: x.str.replace(",", "").astype(int))

In [7]:
#Get age information
immigrant_age = demog_df.iloc[12:21, :]
median_age = demog_df.iloc[21:22]

#Get gender information
immigrant_gender = demog_df.iloc[10:12, :]

#Get continents information
immigrant_continents = demog_df.iloc[4:10, :]

#Get race information
immigrant_race = demog_df.iloc[[22,29], :]

#Get one race information
immigrant_one_race = demog_df.iloc[23:29, :]

#Get 2+ race information
immigrant_more_than_one_race = demog_df.iloc[30:32, :]

#Get Marital Status information
immigrant_marital_status = demog_df.iloc[37:41, :]

#Get age 3+ in school information
immigrant_in_school = demog_df.iloc[42:46, :]

#Get 25+ education information
immigrant_edu_plus25 = demog_df.iloc[47:50, :]

In [8]:
#Set index for all DataFrames to Label groupings
immigrant_age = immigrant_age.set_index("Label (Grouping)")
median_age = median_age.set_index("Label (Grouping)")
immigrant_gender = immigrant_gender.set_index("Label (Grouping)")
immigrant_continents = immigrant_continents.set_index("Label (Grouping)")
immigrant_race = immigrant_race.set_index("Label (Grouping)")
immigrant_one_race = immigrant_one_race.set_index("Label (Grouping)")
immigrant_more_than_one_race = immigrant_more_than_one_race.set_index("Label (Grouping)")
immigrant_marital_status = immigrant_marital_status.set_index("Label (Grouping)")
immigrant_in_school = immigrant_in_school.set_index("Label (Grouping)")
immigrant_edu_plus25 = immigrant_edu_plus25.set_index("Label (Grouping)")

In [9]:
#Turn (X) to 0 in the immigrant_age DataFrame
immigrant_age = immigrant_age.replace("(X)", "00")

In [10]:
#Remove Percentage Signs, converting to float, and divide by 100 for each DataFrame created
for i in range (0, 3):
    
    #Remove "%"
    immigrant_age.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_age.iloc[:, i].values))
    immigrant_gender.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_gender.iloc[:, i].values))
    immigrant_continents.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_continents.iloc[:, i].values))
    immigrant_race.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_race.iloc[:, i].values))
    immigrant_one_race.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_one_race.iloc[:, i].values))
    immigrant_more_than_one_race.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_more_than_one_race.iloc[:, i].values))
    immigrant_marital_status.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_marital_status.iloc[:, i].values))
    immigrant_in_school.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_in_school.iloc[:, i].values))
    immigrant_edu_plus25.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_edu_plus25.iloc[:, i].values))
    
    #Convert to float
    immigrant_age.iloc[:, i] = list(map(lambda x: float(x), immigrant_age.iloc[:, i].values))
    immigrant_gender.iloc[:, i] = list(map(lambda x: float(x), immigrant_gender.iloc[:, i].values))
    immigrant_continents.iloc[:, i] = list(map(lambda x: float(x), immigrant_continents.iloc[:, i].values))
    immigrant_race.iloc[:, i] = list(map(lambda x: float(x), immigrant_race.iloc[:, i].values))
    immigrant_one_race.iloc[:, i] = list(map(lambda x: float(x), immigrant_one_race.iloc[:, i].values))
    immigrant_more_than_one_race.iloc[:, i] = list(map(lambda x: float(x), immigrant_more_than_one_race.iloc[:, i].values))
    immigrant_marital_status.iloc[:, i] = list(map(lambda x: float(x), immigrant_marital_status.iloc[:, i].values))
    immigrant_in_school.iloc[:, i] = list(map(lambda x: float(x), immigrant_in_school.iloc[:, i].values))
    immigrant_edu_plus25.iloc[:, i] = list(map(lambda x: float(x), immigrant_edu_plus25.iloc[:, i].values))
    
    #Divide by 100
    immigrant_age.iloc[:, i] = list(map(lambda x: x / 100, immigrant_age.iloc[:, i].values))
    immigrant_gender.iloc[:, i] = list(map(lambda x: x / 100, immigrant_gender.iloc[:, i].values))
    immigrant_continents.iloc[:, i] = list(map(lambda x: x / 100, immigrant_continents.iloc[:, i].values))
    immigrant_race.iloc[:, i] = list(map(lambda x: x / 100, immigrant_race.iloc[:, i].values))
    immigrant_one_race.iloc[:, i] = list(map(lambda x: x / 100, immigrant_one_race.iloc[:, i].values))
    immigrant_more_than_one_race.iloc[:, i] = list(map(lambda x: x / 100, immigrant_more_than_one_race.iloc[:, i].values))
    immigrant_marital_status.iloc[:, i] = list(map(lambda x: x / 100, immigrant_marital_status.iloc[:, i].values))
    immigrant_in_school.iloc[:, i] = list(map(lambda x: x / 100, immigrant_in_school.iloc[:, i].values))
    immigrant_edu_plus25.iloc[:, i] = list(map(lambda x: x / 100, immigrant_edu_plus25.iloc[:, i].values))

In [11]:
# Convert to actual population numbers, round to the nearest whole person
imm_age_numbers = round(immigrant_age.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_gender_numbers = round(immigrant_gender.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_continents_numbers = round(immigrant_continents.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_race_numbers = round(immigrant_race.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_one_race_numbers = round(immigrant_one_race.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_more_than_one_race_numbers = round(immigrant_more_than_one_race.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_marital_status_numbers = round(immigrant_marital_status.multiply(total_marital_pop.iloc[0], axis='columns')).astype(int)
imm_in_school_numbers = round(immigrant_in_school.multiply(total_edu_pop.iloc[0], axis='columns')).astype(int)
imm_edu_plus25_numbers = round(immigrant_edu_plus25.multiply(total_edu_pop.iloc[0], axis='columns')).astype(int)

In [12]:
# Removing the spaces before each index
imm_age_numbers.index = imm_age_numbers.index.str.strip()
imm_gender_numbers.index = imm_gender_numbers.index.str.strip()
imm_continents_numbers.index = imm_continents_numbers.index.str.strip()
imm_race_numbers.index = imm_race_numbers.index.str.strip()
imm_one_race_numbers.index = imm_one_race_numbers.index.str.strip()
imm_more_than_one_race_numbers.index = imm_more_than_one_race_numbers.index.str.strip()
imm_marital_status_numbers.index = imm_marital_status_numbers.index.str.strip()
imm_in_school_numbers.index = imm_in_school_numbers.index.str.strip()
imm_edu_plus25_numbers.index = imm_edu_plus25_numbers.index.str.strip()

In [17]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs", "Age.csv")
imm_age_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Gender.csv")
imm_gender_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Continents.csv")
imm_continents_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Race.csv")
imm_race_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "One Race.csv")
imm_one_race_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "More Than One Race.csv")
imm_more_than_one_race_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Marital Status.csv")
imm_marital_status_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "In School.csv")
imm_in_school_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Education 25+.csv")
imm_edu_plus25_numbers.to_csv(path, header = True, index = True)

##
## Working with Annual Perm Resident 1820-2019 file
##

In [18]:
#Read in data frame (from https://www.migrationpolicy.org/programs/data-hub/us-immigration-trends#history)
#Legal Immigration to the United States, 1820-2019

data_file2 = os.path.join("resources", "Annual Perm Resident 1820-2019.csv")
ann_perm_res = pd.read_csv(data_file2, thousands=',')

#Format data frame
ann_perm_res = ann_perm_res.drop(columns = ann_perm_res.columns[0])
ann_perm_res = ann_perm_res.set_index("Year")
ann_perm_res["Number of Legal Permanent Residents"] = ann_perm_res["Number of Legal Permanent Residents"].div(1000000) #
ann_perm_res = ann_perm_res.rename(columns={"Number of Legal Permanent Residents": "Number of Legal Permanent Residents (millions)"})

path = os.path.join("Outputs", "Annual Rem Res.csv")
ann_perm_res.to_csv(path, header = True, index = True)