In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress
from pprint import pprint

## Working with Decade Demographics File

In [2]:
data_file = os.path.join("resources", "Decade Demographics.csv")
demog_df = pd.read_csv(data_file, thousands=',')
demog_df

,Label (Grouping),United States!!Total!!Estimate,United States!!Foreign born; Entered 2010 or later!!Estimate,United States!!Foreign born; Entered 2000 to 2009!!Estimate,United States!!Foreign born; Entered before 2000!!Estimate
0,Foreign-born population,"44,932,901","11,142,149","11,035,400","22,755,352"
1,CITIZENSHIP,NaN,NaN,NaN,NaN
2,Naturalized citizen,51.6%,13.7%,47.6%,72.1%
3,Not a citizen,48.4%,86.3%,52.4%,27.9%
4,WORLD REGION OF BIRTH OF FOREIGN BORN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
165,30 percent or more,29.3%,31.5%,28.8%,29.2%
166,Renter-occupied housing units,"8,728,499","2,372,369","2,340,200","4,015,930"
167,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD IN...,NaN,NaN,NaN,NaN
168,Less than 30 percent,51.0%,54.3%,49.1%,50.2%
169,30 percent or more,49.0%,45.7%,50.9%,49.8%

In [3]:
#Format data frame, "or later" = 2020
demog_df = demog_df.dropna()
demog_df = demog_df.rename(columns = {"United States!!Total!!Estimate": "United States Total",
                                    "United States!!Foreign born; Entered 2010 or later!!Estimate": "2010 or later",
                                   "United States!!Foreign born; Entered 2000 to 2009!!Estimate": "2000 to 2009",
                                   "United States!!Foreign born; Entered before 2000!!Estimate": "Before 2000"})
demog_df = demog_df.reset_index(drop = True)

In [4]:
#Dropping the total column from each DataFrame Created
demog_df = demog_df.drop(["United States Total"], axis=1)

In [5]:
#Get total population numbers
total_pop = demog_df.iloc[:1]

#Format data frame
total_pop = total_pop.set_index("Label (Grouping)")
total_pop = total_pop.apply(lambda x: x.str.replace(",", "").astype(int))


#Get total population numbers for education
total_edu_pop = demog_df.loc[[41,46],:]

#Format data frame
total_edu_pop = total_edu_pop.set_index("Label (Grouping)")
total_edu_pop = total_edu_pop.apply(lambda x: x.str.replace(",", "").astype(int))


#Get total marital status number
total_marital_pop = demog_df.loc[[36],:]

#Format data frame
total_marital_pop = total_marital_pop.set_index("Label (Grouping)")
total_marital_pop = total_marital_pop.apply(lambda x: x.str.replace(",", "").astype(int))

#Get total population 16 yrs and older
total_jobstatus_pop = demog_df.loc[[56],:]

#Format data frame
total_jobstatus_pop = total_jobstatus_pop.set_index("Label (Grouping)")
total_jobstatus_pop = total_jobstatus_pop.apply(lambda x: x.str.replace(",", "").astype(int))

#Get total working population for Industry and Occupation
total_working_pop = demog_df.loc[[64],:]

#Format data frame
total_working_pop = total_working_pop.set_index("Label (Grouping)")
total_working_pop = total_working_pop.apply(lambda x: x.str.replace(",", "").astype(int))

#Get total working population with earnings
total_earning_pop = demog_df.loc[[87],:]

#Format data frame
total_earning_pop = total_earning_pop.set_index("Label (Grouping)")
total_earning_pop = total_earning_pop.apply(lambda x: x.str.replace(",", "").astype(int))

In [6]:
#Get age information
immigrant_age = demog_df.iloc[12:21, :]
median_age = demog_df.iloc[21:22]

#Get gender information
immigrant_gender = demog_df.iloc[10:12, :]

#Get continents information
immigrant_continents = demog_df.iloc[4:10, :]

#Get race information
immigrant_race = demog_df.iloc[[22,29], :]

#Get one race information
immigrant_one_race = demog_df.iloc[23:29, :]

#Get 2+ race information
immigrant_more_than_one_race = demog_df.iloc[30:32, :]

#Get Marital Status information
immigrant_marital_status = demog_df.iloc[37:41, :]

#Get age 3+ in school information
immigrant_in_school = demog_df.iloc[42:46, :]

#Get 25+ education information
immigrant_edu_plus25 = demog_df.iloc[47:52, :]

#Get job status information
immigrant_job_status = demog_df.iloc[59:64, :]
immigrant_job_status = immigrant_job_status.drop([61])

#Get occupation information
immigrant_occupation = demog_df.iloc[69:74, :]

#Get industry information
immigrant_industry = demog_df.iloc[74:87, :]

#Get earnings information
immigrant_earnings = demog_df.iloc[88:95, :]

In [7]:
#Set index for all DataFrames to Label groupings
immigrant_age = immigrant_age.set_index("Label (Grouping)")
median_age = median_age.set_index("Label (Grouping)")
immigrant_gender = immigrant_gender.set_index("Label (Grouping)")
immigrant_continents = immigrant_continents.set_index("Label (Grouping)")
immigrant_race = immigrant_race.set_index("Label (Grouping)")
immigrant_one_race = immigrant_one_race.set_index("Label (Grouping)")
immigrant_more_than_one_race = immigrant_more_than_one_race.set_index("Label (Grouping)")
immigrant_marital_status = immigrant_marital_status.set_index("Label (Grouping)")
immigrant_in_school = immigrant_in_school.set_index("Label (Grouping)")
immigrant_edu_plus25 = immigrant_edu_plus25.set_index("Label (Grouping)")
immigrant_job_status = immigrant_job_status.set_index("Label (Grouping)")
immigrant_occupation = immigrant_occupation.set_index("Label (Grouping)")
immigrant_industry = immigrant_industry.set_index("Label (Grouping)")
immigrant_earnings = immigrant_earnings.set_index("Label (Grouping)")

In [8]:
#Turn (X) to 0 in the immigrant_age DataFrame
immigrant_age = immigrant_age.replace("(X)", "00")

In [9]:
#Remove Percentage Signs, converting to float, and divide by 100 for each DataFrame created
for i in range (0, 3):
    
    #Remove "%"
    immigrant_age.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_age.iloc[:, i].values))
    immigrant_gender.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_gender.iloc[:, i].values))
    immigrant_continents.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_continents.iloc[:, i].values))
    immigrant_race.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_race.iloc[:, i].values))
    immigrant_one_race.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_one_race.iloc[:, i].values))
    immigrant_more_than_one_race.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_more_than_one_race.iloc[:, i].values))
    immigrant_marital_status.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_marital_status.iloc[:, i].values))
    immigrant_in_school.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_in_school.iloc[:, i].values))
    immigrant_edu_plus25.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_edu_plus25.iloc[:, i].values))
    immigrant_job_status.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_job_status.iloc[:, i].values))
    immigrant_occupation.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_occupation.iloc[:, i].values))
    immigrant_industry.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_industry.iloc[:, i].values))
    immigrant_earnings.iloc[:, i] = list(map(lambda x: x[:-1], immigrant_earnings.iloc[:, i].values))
    
    #Convert to float
    immigrant_age.iloc[:, i] = list(map(lambda x: float(x), immigrant_age.iloc[:, i].values))
    immigrant_gender.iloc[:, i] = list(map(lambda x: float(x), immigrant_gender.iloc[:, i].values))
    immigrant_continents.iloc[:, i] = list(map(lambda x: float(x), immigrant_continents.iloc[:, i].values))
    immigrant_race.iloc[:, i] = list(map(lambda x: float(x), immigrant_race.iloc[:, i].values))
    immigrant_one_race.iloc[:, i] = list(map(lambda x: float(x), immigrant_one_race.iloc[:, i].values))
    immigrant_more_than_one_race.iloc[:, i] = list(map(lambda x: float(x), immigrant_more_than_one_race.iloc[:, i].values))
    immigrant_marital_status.iloc[:, i] = list(map(lambda x: float(x), immigrant_marital_status.iloc[:, i].values))
    immigrant_in_school.iloc[:, i] = list(map(lambda x: float(x), immigrant_in_school.iloc[:, i].values))
    immigrant_edu_plus25.iloc[:, i] = list(map(lambda x: float(x), immigrant_edu_plus25.iloc[:, i].values))
    immigrant_job_status.iloc[:, i] = list(map(lambda x: float(x), immigrant_job_status.iloc[:, i].values))    
    immigrant_occupation.iloc[:, i] = list(map(lambda x: float(x), immigrant_occupation.iloc[:, i].values)) 
    immigrant_industry.iloc[:, i] = list(map(lambda x: float(x), immigrant_industry.iloc[:, i].values))    
    immigrant_earnings.iloc[:, i] = list(map(lambda x: float(x), immigrant_earnings.iloc[:, i].values)) 
    
    #Divide by 100
    immigrant_age.iloc[:, i] = list(map(lambda x: x / 100, immigrant_age.iloc[:, i].values))
    immigrant_gender.iloc[:, i] = list(map(lambda x: x / 100, immigrant_gender.iloc[:, i].values))
    immigrant_continents.iloc[:, i] = list(map(lambda x: x / 100, immigrant_continents.iloc[:, i].values))
    immigrant_race.iloc[:, i] = list(map(lambda x: x / 100, immigrant_race.iloc[:, i].values))
    immigrant_one_race.iloc[:, i] = list(map(lambda x: x / 100, immigrant_one_race.iloc[:, i].values))
    immigrant_more_than_one_race.iloc[:, i] = list(map(lambda x: x / 100, immigrant_more_than_one_race.iloc[:, i].values))
    immigrant_marital_status.iloc[:, i] = list(map(lambda x: x / 100, immigrant_marital_status.iloc[:, i].values))
    immigrant_in_school.iloc[:, i] = list(map(lambda x: x / 100, immigrant_in_school.iloc[:, i].values))
    immigrant_edu_plus25.iloc[:, i] = list(map(lambda x: x / 100, immigrant_edu_plus25.iloc[:, i].values))
    immigrant_job_status.iloc[:, i] = list(map(lambda x: x / 100, immigrant_job_status.iloc[:, i].values)) 
    immigrant_occupation.iloc[:, i] = list(map(lambda x: x / 100, immigrant_occupation.iloc[:, i].values)) 
    immigrant_industry.iloc[:, i] = list(map(lambda x: x / 100, immigrant_industry.iloc[:, i].values))    
    immigrant_earnings.iloc[:, i] = list(map(lambda x: x / 100, immigrant_earnings.iloc[:, i].values))

In [10]:
# Convert to actual population numbers, round to the nearest whole person
imm_age_numbers = round(immigrant_age.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_gender_numbers = round(immigrant_gender.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_continents_numbers = round(immigrant_continents.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_race_numbers = round(immigrant_race.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_one_race_numbers = round(immigrant_one_race.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_more_than_one_race_numbers = round(immigrant_more_than_one_race.multiply(total_pop.iloc[0], axis='columns')).astype(int)
imm_marital_status_numbers = round(immigrant_marital_status.multiply(total_marital_pop.iloc[0], axis='columns')).astype(int)
imm_in_school_numbers = round(immigrant_in_school.multiply(total_edu_pop.iloc[0], axis='columns')).astype(int)
imm_edu_plus25_numbers = round(immigrant_edu_plus25.multiply(total_edu_pop.iloc[0], axis='columns')).astype(int)
imm_job_status = round(immigrant_job_status.multiply(total_jobstatus_pop.iloc[0], axis='columns')).astype(int)
imm_occupation = round(immigrant_occupation.multiply(total_working_pop.iloc[0], axis='columns')).astype(int)
imm_industry = round(immigrant_industry.multiply(total_working_pop.iloc[0], axis='columns')).astype(int)
imm_earnings = round(immigrant_earnings.multiply(total_earning_pop .iloc[0], axis='columns')).astype(int)

In [11]:
# Removing the spaces before each index
imm_age_numbers.index = imm_age_numbers.index.str.strip()
imm_gender_numbers.index = imm_gender_numbers.index.str.strip()
imm_continents_numbers.index = imm_continents_numbers.index.str.strip()
imm_race_numbers.index = imm_race_numbers.index.str.strip()
imm_one_race_numbers.index = imm_one_race_numbers.index.str.strip()
imm_more_than_one_race_numbers.index = imm_more_than_one_race_numbers.index.str.strip()
imm_marital_status_numbers.index = imm_marital_status_numbers.index.str.strip()
imm_in_school_numbers.index = imm_in_school_numbers.index.str.strip()
imm_edu_plus25_numbers.index = imm_edu_plus25_numbers.index.str.strip()
imm_job_status.index = imm_job_status.index.str.strip()
imm_occupation.index = imm_occupation.index.str.strip()
imm_industry.index = imm_industry.index.str.strip()
imm_earnings.index = imm_earnings.index.str.strip()

In [12]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs", "Age.csv")
imm_age_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Gender.csv")
imm_gender_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Continents.csv")
imm_continents_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Race.csv")
imm_race_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "One Race.csv")
imm_one_race_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "More Than One Race.csv")
imm_more_than_one_race_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Marital Status.csv")
imm_marital_status_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "In School.csv")
imm_in_school_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Education 25+.csv")
imm_edu_plus25_numbers.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Job Status.csv")
immigrant_job_status.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Occupation.csv")
imm_occupation.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Industry.csv")
imm_industry.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Earnings.csv")
imm_earnings.to_csv(path, header = True, index = True)

## Working with Annual Perm Resident 1820-2019 file

In [13]:
#Read in data frame (from https://www.migrationpolicy.org/programs/data-hub/us-immigration-trends#history)
#Legal Immigration to the United States, 1820-2019

data_file2 = os.path.join("resources", "Annual Perm Resident 1820-2019.csv")
ann_perm_res = pd.read_csv(data_file2, thousands=',')

#Format data frame
ann_perm_res = ann_perm_res.drop(columns = ann_perm_res.columns[0])
ann_perm_res = ann_perm_res.set_index("Year")
ann_perm_res["Number of Legal Permanent Residents"] = ann_perm_res["Number of Legal Permanent Residents"].div(1000000) #
ann_perm_res = ann_perm_res.rename(columns={"Number of Legal Permanent Residents": "Number of Legal Permanent Residents (millions)"})

path = os.path.join("Outputs", "Annual Perm Res.csv")
ann_perm_res.to_csv(path, header = True, index = True)

## Working with Immigrant Location Files

In [14]:
file_path = os.path.join("resources", "2010-2019.csv")
imm_loc_2019_df = pd.read_csv(file_path, thousands=',')

file_path1 = os.path.join("resources", "2011-2020.csv")
imm_loc_2020_df = pd.read_csv(file_path1, thousands=',')

In [15]:
# Removing all dots from the first cloumn
imm_loc_2019_df['State or territory of residence'] = imm_loc_2019_df['State or territory of residence'].replace('\.','', regex=True)
# Setting first column as index
imm_loc_2019_df = imm_loc_2019_df.set_index("State or territory of residence")
imm_loc_2020_df = imm_loc_2020_df.set_index("State or territory of residence")
# Removing the spaces before each index
imm_loc_2019_df.index = imm_loc_2019_df.index.str.strip()
imm_loc_2020_df.index = imm_loc_2020_df.index.str.strip()
# Removing commas form all the numbers
imm_loc_2019_df = imm_loc_2019_df.replace(',','', regex=True)
# Removing dashes form all the columns
imm_loc_2019_df = imm_loc_2019_df.replace('-','0', regex=True)
imm_loc_2020_df = imm_loc_2020_df.replace('-','0', regex=True)
# Deleting the Total row
imm_loc_2019_df = imm_loc_2019_df.drop(index = 'Total')
imm_loc_2020_df = imm_loc_2020_df.drop(index = 'Total')
# Converting the non-int rows to int
imm_loc_2019_df.iloc[0: , 0:4] = imm_loc_2019_df.iloc[0: , 0:4].astype(int)
imm_loc_2020_df.iloc[0: , 0:3] = imm_loc_2020_df.iloc[0: , 0:3].astype(int)

# Inserting the 2020 data into the 2019 DataFrame
imm_loc_2019_df["2020"] = imm_loc_2020_df["2020"]

# Calculating the sum of each row
imm_loc_2019_df['From 2010 to 2020'] = imm_loc_2019_df.sum(axis=1)

In [16]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs", "Immigrant Location 2010-2020.csv")
imm_loc_2019_df.to_csv(path, header = True, index = True)

## Working with Lawful Permanent Status File

In [17]:
file = os.path.join("resources/Lawful Permanent Status.csv")
table = pd.read_csv(file, thousands=',')
table = table.replace(',',"", regex=True)
table = table.iloc[1: , 1: ]
table = table.drop([81, 82, 83])
table.fillna(0)
table = table.replace('-',0)
table.tail(15)

table.set_index('Type and class of admission', inplace=True)

for col in table.columns:
    table[col] = table[col].astype(float)

In [18]:
# Splitting original file into 4 different DataFrames
adj_fam_sponsor = table.iloc[33:37, :]
new_fam_sponsor = table.iloc[60:64, :]
adj_job_sponsor = table.iloc[38:43, :]
new_job_sponsor = table.iloc[65:70, :]

In [19]:
#Fam-related (df1) and career-related (df2) addmision data from ADJ and NEW subtypes respectively

diff_df_change = pd.DataFrame()
for start, end in zip(table.columns[1:10], table.columns[2:]):
     diff_df_change[f"{start} to {end}"] = table[start].astype(float).sub(table[end].astype(float), axis = 0)

df1 = pd.concat([diff_df_change.iloc[33:37, :], diff_df_change.iloc[60:64, :]]);
df2 = pd.concat([diff_df_change.iloc[38:43, :], diff_df_change.iloc[65:70, :]]);

#Total of fam-realted of addmission
df3 = table.iloc[6:10, :]

#Total of career-realted of addmission
df4 = table.iloc[11:16, :]

#diff_df = pd.DataFrame()
df5 = table.iloc[17:26, :]

In [20]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs", "Fam Related.csv")
df1.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Career Related.csv")
df2.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Total Fam Related.csv")
df3.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Total Career Related.csv")
df4.to_csv(path, header = True, index = True)

path = os.path.join("Outputs", "Difference.csv")
df5.to_csv(path, header = True, index = True)

## Working with Naturalized Residents from 2011 to 2020

In [21]:
data_file3 = os.path.join("resources/naturalized residents 2011 to 2020.csv")
naturalized_df = pd.read_csv(data_file3, delimiter=',')
naturalized_df.head(10)

,REGION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Total,"694,193","757,434","779,929","653,416","730,259","753,060","707,265","761,901","843,593","628,254"
1,Africa,"69,738","74,775","71,872","62,175","71,492","72,338","61,851","64,934","84,990","66,436"
2,Asia,"249,940","257,035","275,700","233,163","261,374","271,733","255,306","275,621","327,273","246,099"
3,Europe,"82,209","82,714","80,333","71,325","78,074","74,344","65,141","71,436","81,040","57,403"
4,North America,"217,750","261,673","271,807","222,547","247,492","259,845","258,371","277,592","276,910","204,250"
5,Oceania,"3,734","3,886","3,849","3,399","3,811","3,953","3,327","3,792","4,308","3,392"
6,South America,"70,485","76,992","76,167","60,665","67,927","70,821","63,063","67,892","68,678","50,441"
7,Unknown,337,359,201,142,89,26,206,634,394,233
8,COUNTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Total,"694,193","757,434","779,929","653,416","730,259","753,060","707,265","761,901","843,593","628,254"

In [22]:
#Format data frame, "or later" = 2020
naturalized_df = naturalized_df.dropna()
naturalized_df = naturalized_df.rename(columns = {'REGION':'Region of birth',
                                    'Unnamed: 1':'2011',
                                    'Unnamed: 2':'2012',
                                    'Unnamed: 3':'2013',
                                    'Unnamed: 4':'2014',
                                    'Unnamed: 5':'2015',
                                    'Unnamed: 6':'2016',
                                    'Unnamed: 7':'2017',
                                    'Unnamed: 8':'2018',
                                    'Unnamed: 9':'2019',
                                    'Unnamed: 10':'2020',
    })
naturalized_df = naturalized_df.reset_index(drop = True)
naturalized_df.head(10)

,Region of birth,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Total,"694,193","757,434","779,929","653,416","730,259","753,060","707,265","761,901","843,593","628,254"
1,Africa,"69,738","74,775","71,872","62,175","71,492","72,338","61,851","64,934","84,990","66,436"
2,Asia,"249,940","257,035","275,700","233,163","261,374","271,733","255,306","275,621","327,273","246,099"
3,Europe,"82,209","82,714","80,333","71,325","78,074","74,344","65,141","71,436","81,040","57,403"
4,North America,"217,750","261,673","271,807","222,547","247,492","259,845","258,371","277,592","276,910","204,250"
5,Oceania,"3,734","3,886","3,849","3,399","3,811","3,953","3,327","3,792","4,308","3,392"
6,South America,"70,485","76,992","76,167","60,665","67,927","70,821","63,063","67,892","68,678","50,441"
7,Unknown,337,359,201,142,89,26,206,634,394,233
8,Total,"694,193","757,434","779,929","653,416","730,259","753,060","707,265","761,901","843,593","628,254"
9,Afghanistan,"1,998","1,758","2,074","1,853","1,589","1,444","1,414","1,569","2,794","4,025"

In [45]:
#make each region row callable
total_by_year = naturalized_df.iloc[:1]
total_africa = naturalized_df.iloc[1:2]
total_asia = naturalized_df.iloc[2:3]
total_europe = naturalized_df.iloc[3:4]
total_north_america = naturalized_df.iloc[4:5]
total_oceania = naturalized_df.iloc[5:6]
total_south_america = naturalized_df.iloc[6:7]
total_unknown = naturalized_df.iloc[7:8]

In [24]:
#convert the numbers from str to int
total_by_year = total_by_year.set_index("Region of birth")
total_by_year = total_by_year.apply(lambda x: x.str.replace(",", "").astype(int))

total_africa = total_africa.set_index("Region of birth")
total_africa = total_africa.apply(lambda x: x.str.replace(",", "").astype(int))

total_asia = total_asia.set_index("Region of birth")
total_asia = total_asia.apply(lambda x: x.str.replace(",", "").astype(int))

total_europe = total_europe.set_index("Region of birth")
total_europe = total_europe.apply(lambda x: x.str.replace(",", "").astype(int))

total_north_america = total_north_america.set_index("Region of birth")
total_north_america = total_north_america.apply(lambda x: x.str.replace(",", "").astype(int))

total_oceania = total_oceania.set_index("Region of birth")
total_oceania = total_oceania.apply(lambda x: x.str.replace(",", "").astype(int))

total_south_america = total_south_america.set_index("Region of birth")
total_south_america = total_south_america.apply(lambda x: x.str.replace(",", "").astype(int))

total_unknown = total_unknown.set_index("Region of birth")
total_unknown = total_unknown.apply(lambda x: x.str.replace(",", "").astype(int))

In [25]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs/Total for Year's.csv")
total_by_year.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Total for Africa.csv")
total_africa.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Total for Asia.csv")
total_asia.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Total for Europe.csv")
total_europe.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Total for North America.csv")
total_north_america.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Total for Oceania.csv")
total_oceania.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Total for South America.csv")
total_south_america.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Total for Unknown.csv")
total_unknown.to_csv(path, header = True, index = True)

## Working with Lawful Permanent Residents from 2011 to 2020

In [26]:
data_file4 = os.path.join("resources\lawful permanent resident 2011 to 2020.csv")
lawful_perm_df = pd.read_csv(data_file4, delimiter=',')
lawful_perm_df.head(10)

,Region and country of birth,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Total,"1,062,040","1,031,631","990,553","1,016,518","1,051,031","1,183,505","1,127,167","1,096,611","1,031,765","707,362"
1,Africa,"100,374","107,241","98,304","98,413","101,415","113,426","118,824","115,736","111,194","76,649"
2,Asia,"451,593","429,599","400,548","430,508","419,297","462,299","424,743","397,187","364,761","272,597"
3,Europe,"83,850","81,671","86,556","83,266","85,803","93,567","84,335","80,024","87,597","68,994"
4,North America,"333,902","327,771","315,660","324,354","366,126","427,293","413,650","418,991","370,860","222,272"
5,Oceania,"4,980","4,742","5,277","5,112","5,404","5,588","5,071","4,653","5,359","3,998"
6,South America,"86,096","79,401","80,945","73,715","72,309","79,608","79,076","78,869","90,850","62,219"
7,Unknown,"1,245","1,206","3,263","1,150",677,"1,724","1,468","1,151","1,144",633
8,COUNTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Total,"1,062,040","1,031,631","990,553","1,016,518","1,051,031","1,183,505","1,127,167","1,096,611","1,031,765","707,362"

In [27]:
#Format data frame
lawful_perm_df = lawful_perm_df.dropna()
lawful_perm_df = lawful_perm_df.rename(columns = {'Reion and country of birth':'Region of birth'})
lawful_perm_df = lawful_perm_df.reset_index(drop = True)
lawful_perm_df.head(10)

,Region and country of birth,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Total,"1,062,040","1,031,631","990,553","1,016,518","1,051,031","1,183,505","1,127,167","1,096,611","1,031,765","707,362"
1,Africa,"100,374","107,241","98,304","98,413","101,415","113,426","118,824","115,736","111,194","76,649"
2,Asia,"451,593","429,599","400,548","430,508","419,297","462,299","424,743","397,187","364,761","272,597"
3,Europe,"83,850","81,671","86,556","83,266","85,803","93,567","84,335","80,024","87,597","68,994"
4,North America,"333,902","327,771","315,660","324,354","366,126","427,293","413,650","418,991","370,860","222,272"
5,Oceania,"4,980","4,742","5,277","5,112","5,404","5,588","5,071","4,653","5,359","3,998"
6,South America,"86,096","79,401","80,945","73,715","72,309","79,608","79,076","78,869","90,850","62,219"
7,Unknown,"1,245","1,206","3,263","1,150",677,"1,724","1,468","1,151","1,144",633
8,Total,"1,062,040","1,031,631","990,553","1,016,518","1,051,031","1,183,505","1,127,167","1,096,611","1,031,765","707,362"
9,Afghanistan,"1,648","1,617","2,196","10,527","8,328","12,513","19,538","12,935","10,136","11,407"

In [28]:
#make each region row callable
lawful_total_by_year = naturalized_df.iloc[:1]
lawful_total_africa = naturalized_df.iloc[1:2]
lawful_total_asia = naturalized_df.iloc[2:3]
lawful_total_europe = naturalized_df.iloc[3:4]
lawful_total_north_america = naturalized_df.iloc[4:5]
lawful_total_oceania = naturalized_df.iloc[5:6]
lawful_total_south_america = naturalized_df.iloc[6:7]
lawful_total_unknown = naturalized_df.iloc[7:8]

In [29]:
#convert the numbers from str to int
lawful_total_by_year = lawful_total_by_year.set_index("Region of birth")
lawful_total_by_year = lawful_total_by_year.apply(lambda x: x.str.replace(",", "").astype(int))

lawful_total_africa = lawful_total_africa.set_index("Region of birth")
lawful_total_africa = lawful_total_africa.apply(lambda x: x.str.replace(",", "").astype(int))

lawful_total_asia = lawful_total_asia.set_index("Region of birth")
lawful_total_asia = lawful_total_asia.apply(lambda x: x.str.replace(",", "").astype(int))

lawful_total_europe = lawful_total_europe.set_index("Region of birth")
lawful_total_europe = lawful_total_europe.apply(lambda x: x.str.replace(",", "").astype(int))

lawful_total_north_america = lawful_total_north_america.set_index("Region of birth")
lawful_total_north_america = lawful_total_north_america.apply(lambda x: x.str.replace(",", "").astype(int))

lawful_total_oceania = lawful_total_oceania.set_index("Region of birth")
lawful_total_oceania = lawful_total_oceania.apply(lambda x: x.str.replace(",", "").astype(int))

lawful_total_south_america = lawful_total_south_america.set_index("Region of birth")
lawful_total_south_america = lawful_total_south_america.apply(lambda x: x.str.replace(",", "").astype(int))

lawful_total_unknown = lawful_total_unknown.set_index("Region of birth")
lawful_total_unknown = lawful_total_unknown.apply(lambda x: x.str.replace(",", "").astype(int))

In [30]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs/Lawful Total for Year's.csv")
lawful_total_by_year.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total for Africa.csv")
lawful_total_africa.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total for Asia.csv")
lawful_total_asia.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total for Europe.csv")
lawful_total_europe.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total for North America.csv")
lawful_total_north_america.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total for Oceania.csv")
lawful_total_oceania.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total for South America.csv")
lawful_total_south_america.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total for Unknown.csv")
lawful_total_unknown.to_csv(path, header = True, index = True)

## Working with Lawful Permanent Demographics 2018, 2019, and 2020

In [31]:
data_file5 = os.path.join("resources\lawful permanent resident demographic 2019.csv")
demog_2019 = pd.read_csv(data_file5, delimiter=',')
data_file6 = os.path.join("resources\lawful permanent resident demographic 2020.csv")
demog_2020 = pd.read_csv(data_file6, delimiter=',')
data_file7 = os.path.join("resources\lawful permanent resident demographic 2018.csv")
demog_2018 = pd.read_csv(data_file7, delimiter=',')

In [32]:
#Format data frame for 2018
demog_2018 = demog_2018.dropna()
demog_2018 = demog_2018.rename(columns = {'Unnamed: 0':'',
    'Unnamed: 1':'Total',
    'Sex':'Female',
    'Unnamed: 3':'Male',
    'Unnamed: 4':'Unknown'})
demog_2018 = demog_2018.reset_index(drop = True)
demog_2018.head(10)

                       Total   Female     Male  Unknown
0  Characteristic      Total   Female     Male  Unknown
1           Total  1,096,611  584,426  512,176        9
2    Under 1 year      2,959    1,472    1,487        -
3    1 to 4 years     34,215   16,976   17,239        -
4    5 to 9 years     61,533   30,098   31,433        2
5  10 to 14 years     64,298   31,416   32,881        1
6  15 to 19 years     80,317   38,898   41,417        2
7  20 to 24 years     91,213   50,629   40,583        1
8  25 to 29 years    124,077   68,542   55,535        -
9  30 to 34 years    138,204   70,019   68,184        1

In [33]:
#Format data frame for 2019
demog_2019 = demog_2019.dropna()
demog_2019 = demog_2019.rename(columns = {'Unnamed: 0':'',
    'Unnamed: 1':'Total',
    'Sex':'Female',
    'Unnamed: 3':'Male',
    'Unnamed: 4':'Unknown'})
demog_2019 = demog_2019.reset_index(drop = True)
demog_2019.head(10)

                       Total   Female     Male  Unknown
0  Characteristic      Total   Female     Male  Unknown
1           Total  1,031,765  561,903  469,710      152
2    Under 1 year      2,468    1,216    1,252        -
3    1 to 4 years     26,611   12,939   13,672        -
4    5 to 9 years     51,480   25,553   25,926        1
5  10 to 14 years     57,004   28,031   28,969        4
6  15 to 19 years     70,341   34,398   35,941        2
7  20 to 24 years     85,978   48,409   37,559       10
8  25 to 29 years    120,474   68,682   51,787        5
9  30 to 34 years    132,512   69,973   62,530        9

In [34]:
#Format data frame for 2020
demog_2020 = demog_2020.dropna()
demog_2020 = demog_2020.rename(columns = {'Unnamed: 0':'',
    'Unnamed: 1':'Total',
    'Sex':'Female',
    'Unnamed: 3':'Male',
    'Unnamed: 4':'Unknown'})
demog_2020 = demog_2020.reset_index(drop = True)
demog_2020.head(10)

                     Total   Female     Male  Unknown
0  Characteristic    Total   Female     Male  Unknown
1           Total  707,362  380,786  326,414      162
2    Under 1 year    1,457      714      743        -
3    1 to 4 years   16,472    8,018    8,454        -
4    5 to 9 years   35,965   17,686   18,279        -
5  10 to 14 years   38,124   18,519   19,604        1
6  15 to 19 years   44,624   21,712   22,909        3
7  20 to 24 years   56,125   31,328   24,786       11
8  25 to 29 years   80,726   46,105   34,616        5
9  30 to 34 years   96,353   50,874   45,469       10

In [35]:
#make each region row callable for 2018
total_age_groups_18 = demog_2018.iloc[18:19]
under_16_18 = demog_2018.iloc[19:20]
age16_20_18 = demog_2018.iloc[20:21]
age21_up_18 = demog_2018.iloc[21:22]

#make each region row callable for 2019
total_age_groups_19 = demog_2019.iloc[18:19]
under_16_19 = demog_2019.iloc[19:20]
age16_20_19 = demog_2019.iloc[20:21]
age21_up_19 = demog_2019.iloc[21:22]

#make each region row callable for 2020
total_age_groups_20 = demog_2020.iloc[19:20]
under_16_20 = demog_2020.iloc[20:21]
age16_20_20 = demog_2020.iloc[21:22]
age21_up_20 = demog_2020.iloc[22:23]

In [36]:
#convert the numbers from str to int 2018
total_age_groups_18 = total_age_groups_18.set_index("")
total_age_groups_18 = total_age_groups_18.apply(lambda x: x.str.replace(",", "").astype(int))

under_16_18 = under_16_18.set_index("")
under_16_18 = under_16_18.apply(lambda x: x.str.replace(",", "").astype(int))

age16_20_18 = age16_20_18.set_index("")
age16_20_18 = age16_20_18.apply(lambda x: x.str.replace(",", "").astype(int))

age21_up_18 = age21_up_18.set_index("")
age21_up_18 = age21_up_18.apply(lambda x: x.str.replace(",", "").astype(int))

#convert the numbers from str to int 2019
total_age_groups_19 = total_age_groups_19.set_index("")
total_age_groups_19 = total_age_groups_19.apply(lambda x: x.str.replace(",", "").astype(int))

under_16_19 = under_16_19.set_index("")
under_16_19 = under_16_19.apply(lambda x: x.str.replace(",", "").astype(int))

age16_20_19 = age16_20_19.set_index("")
age16_20_19 = age16_20_19.apply(lambda x: x.str.replace(",", "").astype(int))

age21_up_19 = age21_up_19.set_index("")
age21_up_19 = age21_up_19.apply(lambda x: x.str.replace(",", "").astype(int))

#convert the numbers from str to int 2020
total_age_groups_20 = total_age_groups_20.set_index("")
total_age_groups_20 = total_age_groups_20.apply(lambda x: x.str.replace(",", "").astype(int))

under_16_20 = under_16_20.set_index("")
under_16_20 = under_16_20.apply(lambda x: x.str.replace(",", "").astype(int))

age16_20_20 = age16_20_20.set_index("")
age16_20_20 = age16_20_20.apply(lambda x: x.str.replace(",", "").astype(int))

age21_up_20 = age21_up_20.set_index("")
age21_up_20 = age21_up_20.apply(lambda x: x.str.replace(",", "").astype(int))

In [37]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs/Lawful Total age group 2018.csv")
total_age_groups_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group under 16 2018.csv")
under_16_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group 16 to 20 2018.csv")
age16_20_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group over 21 2018.csv")
age21_up_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total age group 2019.csv")
total_age_groups_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group under 16 2019.csv")
under_16_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group 16 to 20 2019.csv")
age16_20_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group over 21 2019.csv")
age21_up_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful Total age group 2020.csv")
total_age_groups_20.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group under 16 2020.csv")
under_16_20.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group 16 to 20 2020.csv")
age16_20_20.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Lawful age group over 21 2020.csv")
age21_up_20.to_csv(path, header = True, index = True)

## Working with Naturalized Demographic from 2018, 2019, and 2020

In [38]:
data_file8 = os.path.join("resources","naturalized residents demographic 2019.csv")
nat_demog_2019 = pd.read_csv(data_file8, delimiter=',')

data_file9 = os.path.join("resources","naturalized residents demographic 2020.csv")
nat_demog_2020 = pd.read_csv(data_file9, delimiter=',')

data_file10 = os.path.join("resources","naturalized residents demographic 2018.csv")
nat_demog_2018 = pd.read_csv(data_file10, delimiter=',')
nat_demog_2018.head(5)

       Unnamed: 0 Unnamed: 1      Sex Unnamed: 3 Unnamed: 4
0  Characteristic      Total   Female       Male    Unknown
1             AGE        NaN      NaN        NaN        NaN
2           Total    761,901  420,415    341,378        108
3  18 to 19 years      9,367    4,769      4,597          1
4  20 to 24 years     49,670   26,498     23,167          5

In [39]:
#Format data frame for 2018
nat_demog_2018 = nat_demog_2018.dropna()
nat_demog_2018 = nat_demog_2018.rename(columns = {'Unnamed: 0':'',
    'Unnamed: 1':'Total',
    'Sex':'Female',
    'Unnamed: 3':'Male',
    'Unnamed: 4':'Unknown'})
nat_demog_2018 = nat_demog_2018.reset_index(drop = True)
nat_demog_2018.head(10)

                     Total   Female     Male  Unknown
0  Characteristic    Total   Female     Male  Unknown
1           Total  761,901  420,415  341,378      108
2  18 to 19 years    9,367    4,769    4,597        1
3  20 to 24 years   49,670   26,498   23,167        5
4  25 to 29 years   77,144   43,247   33,889        8
5  30 to 34 years   93,321   53,765   39,547        9
6  35 to 39 years  103,047   57,744   45,293       10
7  40 to 44 years   98,387   51,964   46,413       10
8  45 to 49 years   80,229   42,375   37,842       12
9  50 to 54 years   68,388   36,859   31,515       14

In [40]:
#Format data frame for 2019
nat_demog_2019 = nat_demog_2019.dropna()
nat_demog_2019 = nat_demog_2019.rename(columns = {'Unnamed: 0':'',
    'Unnamed: 1':'Total',
    'Sex':'Female',
    'Unnamed: 3':'Male',
    'Unnamed: 4':'Unknown'})
nat_demog_2019 = nat_demog_2019.reset_index(drop = True)
nat_demog_2019.head(10)

                     Total   Female     Male  Unknown
0  Characteristic    Total   Female     Male  Unknown
1           Total  843,593  464,561  378,792      240
2  18 to 19 years   11,509    6,057    5,449        3
3  20 to 24 years   57,504   30,586   26,916        2
4  25 to 29 years   86,934   48,699   38,225       10
5  30 to 34 years  109,478   62,392   47,075       11
6  35 to 39 years  118,719   66,379   52,327       13
7  40 to 44 years  110,498   58,315   52,166       17
8  45 to 49 years   86,442   45,306   41,115       21
9  50 to 54 years   71,379   38,555   32,790       34

In [41]:
#Format data frame for 2020
nat_demog_2020 = nat_demog_2020.dropna()
nat_demog_2020 = nat_demog_2020.rename(columns = {'Unnamed: 0':'',
    'Unnamed: 1':'Total',
    'Sex':'Female',
    'Unnamed: 3':'Male',
    'Unnamed: 4':'Unknown'})
nat_demog_2020 = nat_demog_2020.reset_index(drop = True)
nat_demog_2020.head(10)

                     Total   Female     Male  Unknown
0  Characteristic    Total   Female     Male  Unknown
1           Total  628,254  348,333  279,832       89
2  18 to 19 years    8,484    4,418    4,064        2
3  20 to 24 years   42,937   22,673   20,264        -
4  25 to 29 years   65,194   36,839   28,355        -
5  30 to 34 years   84,706   48,482   36,221        3
6  35 to 39 years   90,281   50,915   39,365        1
7  40 to 44 years   81,563   43,277   38,281        5
8  45 to 49 years   63,086   33,501   29,572       13
9  50 to 54 years   52,581   28,927   23,640       14

In [42]:
#make each region row callable for 2018
nat_total_age_groups_18 = demog_2018.iloc[18:19]
nat_under_16_18 = demog_2018.iloc[19:20]
nat_age16_20_18 = demog_2018.iloc[20:21]
nat_age21_up_18 = demog_2018.iloc[21:22]

#make each region row callable for 2019
nat_total_age_groups_19 = demog_2019.iloc[18:19]
nat_under_16_19 = demog_2019.iloc[19:20]
nat_age16_20_19 = demog_2019.iloc[20:21]
nat_age21_up_19 = demog_2019.iloc[21:22]

#make each region row callable for 2020
nat_total_age_groups_20 = demog_2020.iloc[19:20]
nat_under_16_20 = demog_2020.iloc[20:21]
nat_age16_20_20 = demog_2020.iloc[21:22]
nat_age21_up_20 = demog_2020.iloc[22:23]

In [43]:
#convert the numbers from str to int 2018
nat_total_age_groups_18 = nat_total_age_groups_18.set_index("")
nat_total_age_groups_18 = nat_total_age_groups_18.apply(lambda x: x.str.replace(",", "").astype(int))

nat_under_16_18 = nat_under_16_18.set_index("")
nat_under_16_18 = nat_under_16_18.apply(lambda x: x.str.replace(",", "").astype(int))

nat_age16_20_18 = nat_age16_20_18.set_index("")
nat_age16_20_18 = nat_age16_20_18.apply(lambda x: x.str.replace(",", "").astype(int))

nat_age21_up_18 = nat_age21_up_18.set_index("")
nat_age21_up_18 = nat_age21_up_18.apply(lambda x: x.str.replace(",", "").astype(int))

#convert the numbers from str to int 2019
nat_total_age_groups_19 = nat_total_age_groups_19.set_index("")
nat_total_age_groups_19 = nat_total_age_groups_19.apply(lambda x: x.str.replace(",", "").astype(int))

nat_under_16_19 = nat_under_16_19.set_index("")
nat_under_16_19 = nat_under_16_19.apply(lambda x: x.str.replace(",", "").astype(int))

nat_age16_20_19 = nat_age16_20_19.set_index("")
nat_age16_20_19 = nat_age16_20_19.apply(lambda x: x.str.replace(",", "").astype(int))

nat_age21_up_19 = nat_age21_up_19.set_index("")
nat_age21_up_19 = nat_age21_up_19.apply(lambda x: x.str.replace(",", "").astype(int))

#convert the numbers from str to int 2020
nat_total_age_groups_20 = nat_total_age_groups_20.set_index("")
nat_total_age_groups_20 = nat_total_age_groups_20.apply(lambda x: x.str.replace(",", "").astype(int))

nat_under_16_20 = nat_under_16_20.set_index("")
nat_under_16_20 = nat_under_16_20.apply(lambda x: x.str.replace(",", "").astype(int))

nat_age16_20_20 = nat_age16_20_20.set_index("")
nat_age16_20_20 = nat_age16_20_20.apply(lambda x: x.str.replace(",", "").astype(int))

nat_age21_up_20 = nat_age21_up_20.set_index("")
nat_age21_up_20 = nat_age21_up_20.apply(lambda x: x.str.replace(",", "").astype(int))

In [44]:
# Exporting DataFrames to CSV's
path = os.path.join("Outputs/Naturalized Total age group 2018.csv")
nat_total_age_groups_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group under 16 2018.csv")
nat_under_16_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group 16 to 20 2018.csv")
nat_age16_20_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group over 21 2018.csv")
nat_age21_up_18.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized Total age group 2019.csv")
nat_total_age_groups_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group under 16 2019.csv")
nat_under_16_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group 16 to 20 2019.csv")
nat_age16_20_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group over 21 2019.csv")
nat_age21_up_19.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized Total age group 2020.csv")
nat_total_age_groups_20.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group under 16 2020.csv")
nat_under_16_20.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group 16 to 20 2020.csv")
nat_age16_20_20.to_csv(path, header = True, index = True)

path = os.path.join("Outputs/Naturalized age group over 21 2020.csv")
nat_age21_up_20.to_csv(path, header = True, index = True)