In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress
from pprint import pprint

In [9]:
data_file = os.path.join("resources", "Decade Demographics.csv")
data_df = pd.read_csv(data_file)
data_df.head(20)

,Label (Grouping),United States!!Total!!Estimate,United States!!Foreign born; Entered 2010 or later!!Estimate,United States!!Foreign born; Entered 2000 to 2009!!Estimate,United States!!Foreign born; Entered before 2000!!Estimate
0,Foreign-born population,"44,932,901","11,142,149","11,035,400","22,755,352"
1,CITIZENSHIP,NaN,NaN,NaN,NaN
2,Naturalized citizen,51.6%,13.7%,47.6%,72.1%
3,Not a citizen,48.4%,86.3%,52.4%,27.9%
4,WORLD REGION OF BIRTH OF FOREIGN BORN,NaN,NaN,NaN,NaN
5,Foreign-born population excluding popu...,"44,932,799","11,142,149","11,035,400","22,755,250"
6,Europe,10.4%,8.0%,7.8%,12.8%
7,Asia,31.4%,38.8%,29.3%,28.8%
8,Africa,5.5%,9.1%,6.7%,3.2%
9,Oceania,0.7%,0.9%,0.7%,0.5%
10,Latin America,50.3%,41.5%,54.3%,52.6%
11,Northern America,1.8%,1.7%,1.2%,2.1%
12,SEX AND AGE,NaN,NaN,NaN,NaN
13,Male,48.2%,49.1%,47.9%,47.9%
14,Female,51.8%,50.9%,52.1%,52.1%
15,Under 5 years,0.7%,2.7%,(X),(X)
16,5 to 17 years,5.0%,15.4%,4.8%,0.0%
17,18 to 24 years,6.3%,13.4%,9.7%,1.2%
18,25 to 44 years,36.5%,48.5%,52.9%,22.7%
19,45 to 54 years,19.6%,9.8%,18.3%,24.9%

In [3]:
data_df = data_df.dropna()
data_df.head(10)

,Label (Grouping),United States!!Total!!Estimate,United States!!Foreign born; Entered 2010 or later!!Estimate,United States!!Foreign born; Entered 2000 to 2009!!Estimate,United States!!Foreign born; Entered before 2000!!Estimate
0,Foreign-born population,"44,932,901","11,142,149","11,035,400","22,755,352"
2,Naturalized citizen,51.6%,13.7%,47.6%,72.1%
3,Not a citizen,48.4%,86.3%,52.4%,27.9%
5,Foreign-born population excluding popu...,"44,932,799","11,142,149","11,035,400","22,755,250"
6,Europe,10.4%,8.0%,7.8%,12.8%
7,Asia,31.4%,38.8%,29.3%,28.8%
8,Africa,5.5%,9.1%,6.7%,3.2%
9,Oceania,0.7%,0.9%,0.7%,0.5%
10,Latin America,50.3%,41.5%,54.3%,52.6%
11,Northern America,1.8%,1.7%,1.2%,2.1%

In [8]:
data_df = data_df.rename(columns = {"United States!!Total!!Estimate": "United States Total",
                                    "United States!!Foreign born; Entered 2010 or later!!Estimate": "Entered 2010 or later",
                                   "United States!!Foreign born; Entered 2000 to 2009!!Estimate": "Entered 2000 to 2009",
                                   "United States!!Foreign born; Entered before 2000!!Estimate": "Entered before 2000"})
data_df.head(25)

,Label (Grouping),United States Total,Entered 2010 or later,Entered 2000 to 2009,Entered before 2000
0,Foreign-born population,"44,932,901","11,142,149","11,035,400","22,755,352"
2,Naturalized citizen,51.6%,13.7%,47.6%,72.1%
3,Not a citizen,48.4%,86.3%,52.4%,27.9%
5,Foreign-born population excluding popu...,"44,932,799","11,142,149","11,035,400","22,755,250"
6,Europe,10.4%,8.0%,7.8%,12.8%
7,Asia,31.4%,38.8%,29.3%,28.8%
8,Africa,5.5%,9.1%,6.7%,3.2%
9,Oceania,0.7%,0.9%,0.7%,0.5%
10,Latin America,50.3%,41.5%,54.3%,52.6%
11,Northern America,1.8%,1.7%,1.2%,2.1%
13,Male,48.2%,49.1%,47.9%,47.9%
14,Female,51.8%,50.9%,52.1%,52.1%
15,Under 5 years,0.7%,2.7%,(X),(X)
16,5 to 17 years,5.0%,15.4%,4.8%,0.0%
17,18 to 24 years,6.3%,13.4%,9.7%,1.2%
18,25 to 44 years,36.5%,48.5%,52.9%,22.7%
19,45 to 54 years,19.6%,9.8%,18.3%,24.9%
20,55 to 64 years,15.2%,5.3%,8.5%,23.3%
21,65 to 74 years,9.7%,3.2%,3.7%,15.8%
22,75 to 84 years,5.0%,1.3%,1.7%,8.5%
23,85 years and over,2.0%,0.3%,0.5%,3.5%
24,Median age (years),45.7,31.3,39.1,55.4
26,One race,97.6%,97.1%,97.9%,97.8%
27,White,45.2%,39.3%,44.0%,48.8%
28,Black or African American,9.7%,12.1%,10.5%,8.0%

In [21]:
data_file2 = os.path.join("resources", "Annual Perm Resident 1820-2019.csv")
data_df2 = pd.read_csv(data_file2)
data_df2.head(20)

                                                          Table 1
NaN NaN  NaN                                 NaN NaN NaN      NaN
    Year Number of Legal Permanent Residents NaN NaN NaN      NaN
    1820 8,385                               NaN NaN NaN      NaN
    1821 9,127                               NaN NaN NaN      NaN
    1822 6,911                               NaN NaN NaN      NaN
    1823 6,354                               NaN NaN NaN      NaN
    1824 7,912                               NaN NaN NaN      NaN
    1825 10,199                              NaN NaN NaN      NaN
    1826 10,837                              NaN NaN NaN      NaN
    1827 18,875                              NaN NaN NaN      NaN
    1828 27,382                              NaN NaN NaN      NaN
    1829 22,520                              NaN NaN NaN      NaN
    1830 23,322                              NaN NaN NaN      NaN
    1831 22,633                              NaN NaN NaN      NaN
    1832 60,482                              NaN NaN NaN      NaN
    1833 58,640                              NaN NaN NaN      NaN
    1834 65,365                              NaN NaN NaN      NaN
    1835 45,374                              NaN NaN NaN      NaN
    1836 76,242                              NaN NaN NaN      NaN
    1837 79,340                              NaN NaN NaN      NaN

In [22]:
data_df2 = data_df2.drop(columns = data_df2.columns[0])
data_df2

Empty DataFrame
Columns: []
Index: [(nan, nan, nan, nan, nan, nan), (nan, Year, Number of Legal Permanent Residents, nan, nan, nan), (nan, 1820, 8,385, nan, nan, nan), (nan, 1821, 9,127, nan, nan, nan), (nan, 1822, 6,911, nan, nan, nan), (nan, 1823, 6,354, nan, nan, nan), (nan, 1824, 7,912, nan, nan, nan), (nan, 1825, 10,199, nan, nan, nan), (nan, 1826, 10,837, nan, nan, nan), (nan, 1827, 18,875, nan, nan, nan), (nan, 1828, 27,382, nan, nan, nan), (nan, 1829, 22,520, nan, nan, nan), (nan, 1830, 23,322, nan, nan, nan), (nan, 1831, 22,633, nan, nan, nan), (nan, 1832, 60,482, nan, nan, nan), (nan, 1833, 58,640, nan, nan, nan), (nan, 1834, 65,365, nan, nan, nan), (nan, 1835, 45,374, nan, nan, nan), (nan, 1836, 76,242, nan, nan, nan), (nan, 1837, 79,340, nan, nan, nan), (nan, 1838, 38,914, nan, nan, nan), (nan, 1839, 68,069, nan, nan, nan), (nan, 1840, 84,066, nan, nan, nan), (nan, 1841, 80,289, nan, nan, nan), (nan, 1842, 104,565, nan, nan, nan), (nan, 1843, 52,496, nan, nan, nan), (nan, 1844, 78,615, nan, nan, nan), (nan, 1845, 114,371, nan, nan, nan), (nan, 1846, 154,416, nan, nan, nan), (nan, 1847, 234,968, nan, nan, nan), (nan, 1848, 226,527, nan, nan, nan), (nan, 1849, 297,024, nan, nan, nan), (nan, 1850, 369,980, nan, nan, nan), (nan, 1851, 379,466, nan, nan, nan), (nan, 1852, 371,603, nan, nan, nan), (nan, 1853, 368,645, nan, nan, nan), (nan, 1854, 427,833, nan, nan, nan), (nan, 1855, 200,877, nan, nan, nan), (nan, 1856, 200,436, nan, nan, nan), (nan, 1857, 251,306, nan, nan, nan), (nan, 1858, 123,126, nan, nan, nan), (nan, 1859, 121,282, nan, nan, nan), (nan, 1860, 153,640, nan, nan, nan), (nan, 1861, 91,918, nan, nan, nan), (nan, 1862, 91,985, nan, nan, nan), (nan, 1863, 176,282, nan, nan, nan), (nan, 1864, 193,418, nan, nan, nan), (nan, 1865, 248,120, nan, nan, nan), (nan, 1866, 318,568, nan, nan, nan), (nan, 1867, 315,722, nan, nan, nan), (nan, 1868, 138,840, nan, nan, nan), (nan, 1869, 352,768, nan, nan, nan), (nan, 1870, 387,203, nan, nan, nan), (nan, 1871, 321,350, nan, nan, nan), (nan, 1872, 404,806, nan, nan, nan), (nan, 1873, 459,803, nan, nan, nan), (nan, 1874, 313,339, nan, nan, nan), (nan, 1875, 227,498, nan, nan, nan), (nan, 1876, 169,986, nan, nan, nan), (nan, 1877, 141,857, nan, nan, nan), (nan, 1878, 138,469, nan, nan, nan), (nan, 1879, 177,826, nan, nan, nan), (nan, 1880, 457,257, nan, nan, nan), (nan, 1881, 669,431, nan, nan, nan), (nan, 1882, 788,992, nan, nan, nan), (nan, 1883, 603,322, nan, nan, nan), (nan, 1884, 518,592, nan, nan, nan), (nan, 1885, 395,346, nan, nan, nan), (nan, 1886, 334,203, nan, nan, nan), (nan, 1887, 490,109, nan, nan, nan), (nan, 1888, 546,889, nan, nan, nan), (nan, 1889, 444,427, nan, nan, nan), (nan, 1890, 455,302, nan, nan, nan), (nan, 1891, 560,319, nan, nan, nan), (nan, 1892, 579,663, nan, nan, nan), (nan, 1893, 439,730, nan, nan, nan), (nan, 1894, 285,631, nan, nan, nan), (nan, 1895, 258,536, nan, nan, nan), (nan, 1896, 343,267, nan, nan, nan), (nan, 1897, 230,832, nan, nan, nan), (nan, 1898, 229,299, nan, nan, nan), (nan, 1899, 311,715, nan, nan, nan), (nan, 1900, 448,572, nan, nan, nan), (nan, 1901, 487,918, nan, nan, nan), (nan, 1902, 648,743, nan, nan, nan), (nan, 1903, 857,046, nan, nan, nan), (nan, 1904, 812,870, nan, nan, nan), (nan, 1905, 1,026,499, nan, nan, nan), (nan, 1906, 1,100,735, nan, nan, nan), (nan, 1907, 1,285,349, nan, nan, nan), (nan, 1908, 782,870, nan, nan, nan), (nan, 1909, 751,786, nan, nan, nan), (nan, 1910, 1,041,570, nan, nan, nan), (nan, 1911, 878,587, nan, nan, nan), (nan, 1912, 838,172, nan, nan, nan), (nan, 1913, 1,197,892, nan, nan, nan), (nan, 1914, 1,218,480, nan, nan, nan), (nan, 1915, 326,700, nan, nan, nan), (nan, 1916, 298,826, nan, nan, nan), (nan, 1917, 295,403, nan, nan, nan), ...]

[204 rows x 0 columns]