In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress
from pprint import pprint

In [9]:
data_file = os.path.join("resources", "Decade Demographics.csv")
data_df = pd.read_csv(data_file)
data_df.head(20)

,Label (Grouping),United States!!Total!!Estimate,United States!!Foreign born; Entered 2010 or later!!Estimate,United States!!Foreign born; Entered 2000 to 2009!!Estimate,United States!!Foreign born; Entered before 2000!!Estimate
0,Foreign-born population,"44,932,901","11,142,149","11,035,400","22,755,352"
1,CITIZENSHIP,NaN,NaN,NaN,NaN
2,Naturalized citizen,51.6%,13.7%,47.6%,72.1%
3,Not a citizen,48.4%,86.3%,52.4%,27.9%
4,WORLD REGION OF BIRTH OF FOREIGN BORN,NaN,NaN,NaN,NaN
5,Foreign-born population excluding popu...,"44,932,799","11,142,149","11,035,400","22,755,250"
6,Europe,10.4%,8.0%,7.8%,12.8%
7,Asia,31.4%,38.8%,29.3%,28.8%
8,Africa,5.5%,9.1%,6.7%,3.2%
9,Oceania,0.7%,0.9%,0.7%,0.5%
10,Latin America,50.3%,41.5%,54.3%,52.6%
11,Northern America,1.8%,1.7%,1.2%,2.1%
12,SEX AND AGE,NaN,NaN,NaN,NaN
13,Male,48.2%,49.1%,47.9%,47.9%
14,Female,51.8%,50.9%,52.1%,52.1%
15,Under 5 years,0.7%,2.7%,(X),(X)
16,5 to 17 years,5.0%,15.4%,4.8%,0.0%
17,18 to 24 years,6.3%,13.4%,9.7%,1.2%
18,25 to 44 years,36.5%,48.5%,52.9%,22.7%
19,45 to 54 years,19.6%,9.8%,18.3%,24.9%

In [3]:
data_df = data_df.dropna()
data_df.head(10)

,Label (Grouping),United States!!Total!!Estimate,United States!!Foreign born; Entered 2010 or later!!Estimate,United States!!Foreign born; Entered 2000 to 2009!!Estimate,United States!!Foreign born; Entered before 2000!!Estimate
0,Foreign-born population,"44,932,901","11,142,149","11,035,400","22,755,352"
2,Naturalized citizen,51.6%,13.7%,47.6%,72.1%
3,Not a citizen,48.4%,86.3%,52.4%,27.9%
5,Foreign-born population excluding popu...,"44,932,799","11,142,149","11,035,400","22,755,250"
6,Europe,10.4%,8.0%,7.8%,12.8%
7,Asia,31.4%,38.8%,29.3%,28.8%
8,Africa,5.5%,9.1%,6.7%,3.2%
9,Oceania,0.7%,0.9%,0.7%,0.5%
10,Latin America,50.3%,41.5%,54.3%,52.6%
11,Northern America,1.8%,1.7%,1.2%,2.1%

In [8]:
data_df = data_df.rename(columns = {"United States!!Total!!Estimate": "United States Total",
                                    "United States!!Foreign born; Entered 2010 or later!!Estimate": "Entered 2010 or later",
                                   "United States!!Foreign born; Entered 2000 to 2009!!Estimate": "Entered 2000 to 2009",
                                   "United States!!Foreign born; Entered before 2000!!Estimate": "Entered before 2000"})
data_df.head(25)

,Label (Grouping),United States Total,Entered 2010 or later,Entered 2000 to 2009,Entered before 2000
0,Foreign-born population,"44,932,901","11,142,149","11,035,400","22,755,352"
2,Naturalized citizen,51.6%,13.7%,47.6%,72.1%
3,Not a citizen,48.4%,86.3%,52.4%,27.9%
5,Foreign-born population excluding popu...,"44,932,799","11,142,149","11,035,400","22,755,250"
6,Europe,10.4%,8.0%,7.8%,12.8%
7,Asia,31.4%,38.8%,29.3%,28.8%
8,Africa,5.5%,9.1%,6.7%,3.2%
9,Oceania,0.7%,0.9%,0.7%,0.5%
10,Latin America,50.3%,41.5%,54.3%,52.6%
11,Northern America,1.8%,1.7%,1.2%,2.1%
13,Male,48.2%,49.1%,47.9%,47.9%
14,Female,51.8%,50.9%,52.1%,52.1%
15,Under 5 years,0.7%,2.7%,(X),(X)
16,5 to 17 years,5.0%,15.4%,4.8%,0.0%
17,18 to 24 years,6.3%,13.4%,9.7%,1.2%
18,25 to 44 years,36.5%,48.5%,52.9%,22.7%
19,45 to 54 years,19.6%,9.8%,18.3%,24.9%
20,55 to 64 years,15.2%,5.3%,8.5%,23.3%
21,65 to 74 years,9.7%,3.2%,3.7%,15.8%
22,75 to 84 years,5.0%,1.3%,1.7%,8.5%
23,85 years and over,2.0%,0.3%,0.5%,3.5%
24,Median age (years),45.7,31.3,39.1,55.4
26,One race,97.6%,97.1%,97.9%,97.8%
27,White,45.2%,39.3%,44.0%,48.8%
28,Black or African American,9.7%,12.1%,10.5%,8.0%

In [29]:
data_file2 = os.path.join("resources", "Annual Perm Resident 1820-2019.csv")
data_df2 = pd.read_csv(data_file2)
data_df2 = data_df2.drop(columns = data_df2.columns[0])
data_df2.tail(20)

     Year Number of Legal Permanent Residents
180  2000                             841,002
181  2001                           1,058,902
182  2002                           1,059,356
183  2003                             703,542
184  2004                             957,883
185  2005                           1,122,257
186  2006                           1,266,129
187  2007                           1,052,415
188  2008                           1,107,126
189  2009                           1,130,818
190  2010                           1,042,625
191  2011                           1,062,040
192  2012                           1,031,631
193  2013                             990,553
194  2014                           1,016,518
195  2015                           1,051,031
196  2016                           1,183,505
197  2017                           1,127,167
198  2018                           1,096,611
199  2019                           1,031,765